@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<FlightService.Web.Models.FlightViewModel>


@{
    ViewData["Title"] = "Flights";
}
<div class="card-header">
    <h2>View All Flights</h2>
</div>
<br />
<div class="card-main">
    <a class="navbar-brand" asp-area="" asp-controller="Flights" asp-action="Create">Add Flight</a>
</div>
<br />

<div class="text-center">

    @foreach (var flight in Model)
    {
        <div class="leftcolumn">
            <div class="card">
                <h3><img src="~/images/airline.png" />@Html.DisplayFor(modelitem => flight.flightNumber)</h3>
                <h4>@Html.DisplayFor(modelitem => flight.Airline)</h4>

                <h5>@Html.DisplayFor(modelitem => flight.departureTime) - @Html.DisplayFor(modelitem => flight.arrivalTime)</h5>
                @if (flight.departureDate.Equals(flight.arrivalDate))
                {
                    <p>@Html.DisplayFor(modelitem => flight.arrivalDate)</p>

                }
                else
                {
                    <p>@Html.DisplayFor(modelitem => flight.departureDate) - @Html.DisplayFor(modelitem => flight.arrivalDate)</p>

                }
                <p><strong>@Html.DisplayFor(modelitem => flight.departureAirport)</strong> to <strong>@Html.DisplayFor(modelitem => flight.arrivalAirport)</strong></p>

                <p>Passenger Limt: @Html.DisplayFor(modelitem => flight.passengerLimit) <p style="text-align:right;">@Html.ActionLink("Details", "Details", new { Id = flight.Id }, new { @class = "details" })</p></p>

            </div>

        </div>

    }
</div>